@{
    ViewData["Title"] = "My Work";
}

<h1>Explore Our Craftwork</h1>
<p>Discover the beauty and craftsmanship of our artisanal creations. Each piece is meticulously handcrafted and our products range from jewellery,furniture and much much more !.</p>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/images/Basket.jpg" class="card-img-top" alt="Craftwork 1">
            <div class="card-body">
                <h5 class="card-title">Handwoven Basket</h5>
                <p class="card-text">Price: R500</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/images/Vase1.jpg" class="card-img-top" alt="Craftwork 2">
            <div class="card-body">
                <h5 class="card-title">Ceramic Vase</h5>
                <p class="card-text">Price: R900</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/images/Sculpture1.jpg" class="card-img-top" alt="Craftwork 3">
            <div class="card-body">
                <h5 class="card-title">Wooden Sculpture</h5>
                <p class="card-text">Price: R1500</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/images/Ring.jpg" class="card-img-top" alt="Craftwork 4">
            <div class="card-body">
                <h5 class="card-title">Ring</h5>
                <p class="card-text">Price: R1000</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/images/LapBag.jpg" class="card-img-top" alt="Craftwork 5">
            <div class="card-body">
                <h5 class="card-title">Leather Laptop Bag</h5>
                <p class="card-text">Price: R300</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/images/Wallet.jpg" class="card-img-top" alt="Craftwork 6">
            <div class="card-body">
                <h5 class="card-title">Leather Wallet</h5>
                <p class="card-text">Price: R550</p>
            </div>
        </div>
    </div>
</div>

